@tailwind base;
@tailwind components;
@tailwind utilities;
@config "../../tailwind.config.ts";

@layer base {
  :root {
    --background: 255 249 219; /* Warmer yellowish color */
    --foreground: 23 23 23;
    --border-color: #e5e7eb; /* Light gray border color */
  }

  .dark {
    --background: 23 23 23;
    --foreground: 255 249 219;
    --border-color: #262b32; /* Darker gray border color */
  }

  body {
    @apply bg-background text-foreground;
    font-family: Arial, Helvetica, sans-serif;
  }

  header {
    border-color: var(--border-color);
  }

  footer {
    border-color: var(--border-color);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
/**
.reroll-button {
  background-color: var(--primary-600); 
  color: white;
  border: none;
  border-radius: 8px; 
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reroll-button:hover {
  background-color: var(--primary-700);
}

.reroll-button:disabled {
  background-color: var(--primary-800); 
  cursor: not-allowed;
}
**/